.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

input:focus {
  outline: none !important;
  border: 2px solid black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  height: 10px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* Light gray */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6; /* Lighter gray */
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #a3a3a3; /* Darker gray */
}

.dark ::-webkit-scrollbar-track {
  background-color: #ffffff1a; /* Almost black */
}
